/* General */

body {
background-color: grey}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  ;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.content {
margin-left: 250px;
}

/* APP */
.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #404040;
  height: 135px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* Articles  */

.article img {
  height: 125px;
  width: 200px;
  float: left;
}

.articleContainer {
  height: 150px;
}

.searchable-articles {
  color: black
}

.article {
  border: solid;
}

/* Posts */

.post img {
  height: 150px;
  width: 200px;
  float: left;
}

.searchable-posts {
  color: black
}

#posts-list {
  border: solid;
}

#catForm {
  text-transform: capitalize;
}
