/* General */

@media (max-width: 400px){
#description {
margin-left: -100px;
float: left;
}

.article img {
  height: 100px;
  width: 100px;
  float: left;
}

 .content {
margin-left: 125px;
font-size: 14px;
}
}

@media( min-width: 401px) {
  .article img {
   height: 125px;
   width: 200px;
   float: left;
 }

 .content {
 margin-left: 250px;
 }

}


 body {
background-color: grey
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  ;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}



/* APP */
 .App {
  text-align: left;
}


.App-header {
  background-color: #404040;
  height: 135px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* Articles  */


 .searchable-articles {
  color: black
}

.article {
  border: solid;
}

 /* Posts  */

 .likeCommentBar {
  display: inline-block;
  padding: 10px 10px;

}

.post img {
  height: 150px;
  width: 200px;
  float: left;
}

.searchable-posts {
  color: black
}

#posts-list {
  border: solid;
}

#catForm {
  text-transform: capitalize;
}
